body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


/* Navbar */

.navbar {
    padding: 15px 0;
}

.navbar-brand {
    font-size: 25px;
}


/* Hero */

.hero {
    padding: 100px 20px;
    background-color: #e8f5e9;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
    margin: 20px 0 30px;
}


/* Search */

.search-section {
    margin-top: 40px;
}

.search-section input {
    height: 50px;
}


/* Categories */

.category-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.category-box:hover {
    transform: translateY(-5px);
}

.category-icon {
    font-size: 50px;
    margin-bottom: 10px;
}


/* Products */

.product-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    height: 250px;
    background-color: #eeeeee;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
}


/* Footer */

footer {
    background-color: #212529;
    color: white;

    text-align: center;

    padding: 25px;

    margin-top: 60px;
}