body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


/* Hero */

.hero {
    padding: 100px 20px;
    background-color: #e8f5e9;
}

.hero h1 {
    font-size: 45px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
}


/* Categories */

.category {
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    font-size: 40px;
    margin-bottom: 20px;
}

.category h5 {
    font-size: 18px;
    margin-top: 10px;
}


/* Product */

.card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.product-image {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    background-color: #eeeeee;
}

.card-body {
    padding: 20px;
}


/* Footer */

footer {
    margin-top: 50px;
}